@font-face {
    font-family: "Plain Light";
    src: url(./font/plain-regular-webfont.ttf);
  }
  @font-face {
    font-family: "Plain Light";
    src: url(./font/plain-light-webfont.ttf);
  }
  @font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-regularitalic-webfont.ttf);
  }
  @font-face {
    font-family: "silk serif";
    src: url(./font/silkserif-lightitalic-webfont.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body, html {
    height: 100%;
    width: 100%;

}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #FEFEFF;
}
#nav{
    height: 4.5vw;
    display: grid;
    background-color: #272627;
    grid-template-columns: 5% 27% 20% 7% 2% 8% 8% 8% 8% 4%;
    /* padding: 4; */
    color: aliceblue;
}
#nav a , #nav i{
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#nav i:nth-child(1){
    font-size: 2vw;
}
#nav i:nth-child(10){
    font-size: 1.5vw;
    /* justify-self: start; */
}
#nav a:nth-child(9){
    /* border: 1px solid #D42BFE; */
    padding: 0.4vw 1.5vw;
    border-radius: 2vw;
    background-color: #D42BFE;
}
#nav i:nth-child(4){
    /* border: 1px solid #D42BFE; */
    font-size: 1.2vw;
    padding: 0.4vw ;
    border-radius: 50%;
    /* border: 1px solid white; */
    /* background-color: #D42BFE; */
}
#nav input {
    width: 25vw;
    justify-self: start;
    border: 1px solid white;
    border-radius: 5vw;
    align-self: center;
    height: 2vw;
    padding: 1vw;
    color: white;
    background-color: transparent;
}


#nav h2 {
    align-self: center;
    font-family: monument;
    font-weight: 200;
}
#nav select{
    align-self: center;
    background-color: transparent;
    border: none;
    color: white;
    height: fit-content;
}
#nav select:focus{
    outline: 0px;
    border: none;
   
}



#nav select option {
    color: black;
    background-color: transparent;
}

.slider{
    height: 80vh;
    width: 100%;
    background-image:url(/sliderBg.jpg);
    background-position: center;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    
    & i:nth-child(1){
        position: absolute;
        color: #FEFEFF;
        font-size: 3vw;
        top: 45%;
        left: 2%;
    }
    & i:nth-child(2){
        position: absolute;
        color: #FEFEFF;
        font-size: 3vw;
        top: 45%;
        right: 2%;
    }
}
#slider1{
    height: 100%;
    width: 100%;
    position: absolute;
    /* display: none; */
    opacity: 1;
    text-transform: capitalize;
    & h1{
        font-size: 4.5vw;
        color: #FEFEFF;
        position: absolute;
        top: 38%;
        left: 15%;
        
    }
    & h4{
        font-size: 3vw;
        color: #FEFEFF;
        position: absolute;
        top: 50%;
        left: 15%;
    }
    & span{
        color: #D42BFE;
    }

}

#slider2{
    height: 100%;
    width: 100%;
    position: absolute;
    text-transform: capitalize;
    /* display: none; */
    & h5{
        font-size: 2.5vw;
        color: #FEFEFF;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    & h1{
        font-size: 4.5vw;
        color: #fff;
        position: absolute;
        top: 38%;
        left: 15%;
        font-family: monument;
        
    }
    
    & h4{
        font-size: 3vw;
        color: #D42BFE;

        position: absolute;
        top: 50%;
        left: 15%;
    }
}
#slider3{
    height: 100%;
    width: 100%;
    position: absolute;
    /* text-transform: capitalize; */
    /* display: none; */
    & ul {
        font-size: 2.5vw;
        color: #FEFEFF;
        position: absolute;
        top: 33%;
        left: 17%;
    }
    & span {
        color: #D42BFE;

    }
}
.navigation-button {
    text-align: center;
    position: relative;
    top: 95%;
    left: 50%;
  }
  

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5c5b5b;
    border-radius: 50%;
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: #ffffff;
  }
  .overlay{
    transition:0.5s ease-in-out;
    opacity: 0;
    & :first-child{
        opacity: 1;
    }
  }
  #page2 {
    height: 100vh;
  }
  #page2 h1 {
    font-size: 2.5vw;
    color: #272627;
    padding: 3vw 5vw;
    font-weight: 700;
    & span {
        color: #D42BFE;
    }
  }
  #frame{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 0 6vw;

  }

    #frame img{
        width: 25vw;
        height: 35vw;   
        border-radius: 1vw;
        /* margin: 0 2vw; */
        object-fit: cover;
    }
  #content {
    height: 35vw;
    margin: auto;
    width: 85%;
    padding: 0 3vw;
    /* background-color: red; */
    border-left: 0.3vw solid #D42BFE;

    & h3 {
        font-size: 2vw;
        height: 3vw;
        color: #272627;
        /* font-family: 'Inter'; */
        text-transform: capitalize;
        padding: 1vw 0;
        font-weight: 700;
    }

    & p {
        font-size: 1.5vw;
        width: 55vw;
        color: #272627;
        padding: 1vw 0;
        font-weight: 500;
    }
  }
